<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet"  href="/styles.css"/>
</head>
<body>
    <%- include('nav') %>
    <div class="form-container">
        <h2>Add New Task</h2>
        <form action="/add" method="post">
            <label for="title">Task Title</label>
            <input type="text" id="title" name="title" placeholder="Enter task title" required>

            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Enter task description" rows="4" required></textarea>
            

            <button type="submit">ADD TASK</button>
        </form>
    </div>
</body>
</html>